In [1]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

### Mixed Effects statsmodels example

In [2]:
data = sm.datasets.get_rdataset("dietox", "geepack").data

In [3]:
data.head()

    Pig     Evit     Cu  Litter  Start    Weight       Feed  Time
0  4601  Evit000  Cu000       1   26.5  26.50000        NaN     1
1  4601  Evit000  Cu000       1   26.5  27.59999   5.200005     2
2  4601  Evit000  Cu000       1   26.5  36.50000  17.600000     3
3  4601  Evit000  Cu000       1   26.5  40.29999  28.500000     4
4  4601  Evit000  Cu000       1   26.5  49.09998  45.200001     5

In [6]:
data.groupby('Pig').count()['Time']

Pig
4601    12
4602    12
4603    12
4605    12
4641    12
        ..
8271    12
8273    12
8437    12
8439    12
8442    12
Name: Time, Length: 72, dtype: int64

In [4]:
data.groupby('Pig').count()['Weight']

Pig
4601    12
4602    12
4603    12
4605    12
4641    12
        ..
8271    12
8273    12
8437    12
8439    12
8442    12
Name: Weight, Length: 72, dtype: int64

In [5]:
md = smf.mixedlm("Weight ~ Time", data, groups=data["Pig"])
mdf = md.fit()

### Mixed Effects with Financial Data